.navbar {
    display: flex;
    width: 100%;
    height: 4rem;
    position: sticky;
    bottom: 0;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.25);
}

.nav-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
}

.svg-icon {
    margin-bottom: -5px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}