.forgotPass-block {
    width: 80%;
}

.forgotPass-block > h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #8300C1;
    cursor: pointer;
}

.register-block > a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #323232;
    transition: 0.2s;
}

.register-block > a:hover {
    filter: brightness(150%);
}