.flexbox-container-3{
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #B6B6B6 100%);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    user-select: text;
}

.main-title{
    display:flex;
    flex-direction: row;

    margin-top: 2.6rem;
}

.main-title h1{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.main-title img{
    width: 32px;
    margin: .6rem 0 0 .6rem;
}

.flexbox-container-3 ul{
    width:100%;
    padding: 0 2rem;
}

#personal-data div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.6rem;
}

.flexbox-container-3 ul h2{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #676767;
}

#personal-data div a, .flexbox-container-3 ul li div a{
    text-decoration: none;
    color: #0057BE;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: .1rem;
}

.flexbox-container-3 ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ABA3A3;
    padding: .6rem 0 .6rem 1rem;
    align-items: center;
}

.flexbox-container-3 ul li strong{
    width:23%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.flexbox-container-3 ul li p{
    width:77%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
}

.flexbox-container-3 ul li div{
    width:77%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexbox-container-3 ul li div p{
    width: 50%;
}

#statistics li strong{
    width:180%;
}

#account-data h2, #statistics h2{
    margin-top: 2rem;
}

#statistics{
    margin-bottom: 3rem;
}