* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    background: linear-gradient(179.98deg, #FFFFFF 0.02%, #B6B6B6 53.12%);
}

.iconify {
    position: absolute;
    color: #E0435E;;
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    top: 1rem;
    left: 1rem;
}

.flexbox-container-1 {
    height: 25vh;
    display: flex;
    justify-content: center;
}

.flexbox-container-2 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(179.99deg, #FFFFFF 0.01%, #B6B6B6 94.79%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 50px 50px 0px 0px;
    padding-bottom: 2rem;
}

.main-title {
    color: #414141;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 90%;
    margin: 10px 0 0 0;
}

.main-title > h1 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}

.logo-icon > img {
    margin-top: -60px;
}

.login-title > h1{
    font-family: 'Oswald', sans-serif;
    margin-top: -40px;
    font-size: 48px;
    font-weight: 400;
    color: #414141;
}

.name-block, .user-block, .born-block, .sex-block, .email-block, .password-block, .confirmPass-block {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}

.name-block > label, .user-block > label, .born-block > label, .sex-block > label, .email-block > label, .password-block > label, .confirmPass-block > label {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #414141;
}

.name-block > input, .user-block > input, .born-block > input, .sex-block > select, .email-block > input, .password-block > input, .confirmPass-block > input {
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    background: #F8F8F8;
}

.submit-block {
    width: 190px;
    margin-top: 40px;
}

.submit-block > input[type=submit] {
    color: #EDEDED;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 5px;
    width: 100%;
    background: linear-gradient(90deg, #E0435E 0%, #E0435E 100%);
    box-shadow: 0px 4px 4px rgba(224, 67, 94, 0.25);
    border-radius: 10px;
}
